<div class="row">
    <div class="col-md-6">
      <a routerLink="/" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard</a>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Add Client
    </div>
    <div class="card-block">
      <form novalidate #f="ngForm">
        <div class="form-group">
          <label for="firstName">Name</label>
          <input 
            type="text"
            class="form-control"
            [(ngModel)]="name"
            name="name"
            #productName="ngModel"
            minlength="2"
            required
          >
        </div>
  
        <div class="form-group">
          <label for="lastName"> Vendor</label>
          <input 
            type="text"
            class="form-control"
            [(ngModel)]="vendor"
            name="vendor"
            #productVendor="ngModel"
            minlength="2"
            required
          >
        </div>
  
        <div class="form-group">
          <label for="email">MRP</label>
          <input 
            type="number"
            class="form-control"
            [(ngModel)]="mrp"
            name="mrp"
            #productMrp="ngModel"
            required
          >
        </div>
  
        <div class="form-group">
          <label for="phone"> Quantity</label>
          <input 
            type="number"
            class="form-control"
            [(ngModel)]="quantity"
            name="quantity"
            #productQuantity="ngModel"
            required
          >
        </div>
  
        <div class="form-group">
          <label for="balance">Batch Number</label>
          <input 
            type="number"
            class="form-control"
            [(ngModel)]="batch_num"
            name="batch_num"
            #productBatchNum="ngModel"
          >    
        </div>
        <button class="btn btn-dark btn-lg btn-block" (click)="createProduct()"> Add Product </button>
      </form>
    </div>
  </div><!-- [disabled]="disableBalanceOnAdd" -->